body{
  margin: 0;
  padding: 0;
}
#left{
  background-color: #ddd;
  height: 100vh;
  padding: 10px;
}
#rigth{
  background-color: #fff;
  height: 100vh;
  padding: 15px;
}
#rigth p,i{
  text-align: center;
}
#rigth p{
  font-size: 1.2em;
  font-weight: bold;
}
#rigth i{
  color: #1b4313;
}
#logo{
  padding: 10px;
  height: 10%;
  background-image: url(../img/logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin: 5px;
}

#main{
  width: 50%;
  padding: 15px;
  margin:10px auto;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
}
#overlay{
  width: 50%;
  margin:5px auto;
  margin-left: 23%;
  background-color: #fff;
  opacity: 0.9;
  z-index: 9999999;
  height: 50%;
  position: absolute;
  background-image: url(../img/tenor.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border-radius: 10px;

}
#CURR_valDIV{
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  box-shadow: inset 0 0 5px #ccc;
}

#toaster{
  position: absolute!important;
  bottom: 100px!important;
  left: 100px!important;
  box-shadow: 3px 3px 5px 6px #ccc;
  background-color: grey;
  padding:10px;
  width: 300px;
  height: 100px;
  text-align: center;
}
#OfflineList {
  margin: 10px;
  list-style-image: url(../img/button.png);
  text-indent: 7px;
}

#OfflineList li{
  border-top: 1px solid #ccc;
  padding: 5px;
}

#whenOffline{
  height: 300px;
  box-shadow: 0 0 0 3px #ccc;
  margin: 10px;
  padding: 10px;
}
#listFlow{
  overflow-y: auto;
  height: 70%;
  scroll-behavior: smooth;
  scrollbar:
}

::-webkit-scrollbar{
  display: none;
}

#contact{
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 0.7em;
}

@media screen and (min-width:320px) and (max-width:700px){
 #main{
   width: 100%;
 }
}
